<div style="text-align:center">
  <h1>
    "ToDo" Task List applications
  </h1>
  <form>
    <mat-form-field>
      <input matInput #input type="text" name="newTask" placeholder="Minimum 4 symbols" [(ngModel)]="taskValue">
    </mat-form-field>
    <button mat-button type="submit" (click)="addTask()"
            [disabled]="input.value.length < 4 || input.value.length > 100">Add</button>
  </form>
</div>
<app-task-list [tasksArray]="tasksArray" [taskListHidden]="taskListHidden"></app-task-list>

