body {
  font-family: "Segoe UI";
}
h1 {
  font-weight: bold;
  font-size: 40px;
}
button {
  margin: 10px;
  background: cadetblue;
  color: #F3F3F3;
  font-size: large;
}
mat-form-field {
  margin-top: 7px;
  max-width: 600px;
  width: 100%;
}
input {
  padding: 10px;
  background: lightgray;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
