ul {
  overflow: scroll;
  max-width: 1360px;
  width: 100%;
  height: 500px;
}
.controlTools {
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px 150px;
  align-items: center;
}
.priority-sorting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-sorting {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-right: 20px;*/
}

.name-sorting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemTask {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.change-priority {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  justify-content: center;
}

.item-text {
  border: 2px solid grey;
  border-radius: 2px;
  max-width: 400px;
  width: 100%;
  padding: 10px;
}
.textMark {
  max-width: 50px;
  margin: 0 10px 0 40px;
  padding: 5px;
  font-size: large;
  font-weight: bold;
  color: grey;
}
button {
  margin: 0 10px;
  padding: 5px;
}

input {
  padding: 10px;
  background: lightgray;
}
.input-search {
  width: 400px;
  margin: 0 10px;
}
.mat-button {
  background: cadetblue;
  color: #F3F3F3;
}

.priority {
  margin: 0 10px;
  padding: 5px 25px;
  background: cadetblue;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #F3F3F3;
  border-radius: 2px;
}

.date {
  margin: 0 10px;
  padding: 10px 20px;
  background: cadetblue;
  font-size: large;
  color: #F3F3F3;
  border-radius: 2px;
}

.done {
  background: lightgreen !important;
}

.doneTextField {
  border: 2px solid #2eee1d;
  background: lightgreen;
  font-weight: bold;
  color: white;
}

.switch {
  border: none;
  border-radius: 4px;
  background: cadetblue;
  color: #F3F3F3;
  height: 25px;
}
.del-window {
  border: 2px solid white;
  text-align: center;
  background: lightgray;
  border-radius: 2px;
  width: 250px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -100px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  word-break: break-word;
}
.changer-window {
  border: 2px solid white;
  border-radius: 2px;
  background: lightgray;
  position: fixed;
  top: 25%;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
h3 {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  color: grey;
}
textarea {
  resize: none;
  font-size: larger;
}
.wrapper-for-window-button {
  display: block;
  padding: 10px;
}
.fullscreen-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  z-index: 9999;
}
