<div class="main-wrapper">
<div class="controlTools">
  <span class="textMark">Priority sorting</span>
  <div class="priority-sorting">
    <button type="button" (click)="prioritySortingUp()">&#9650;</button>
    <button type="button" (click)="prioritySortingDown()">&#9660;</button>
  </div>
  <form>
    <input matInput #search type="text" class="input-search" placeholder="Search by tasks" (keyup)="filterTasksArray(search.value)">
    <button mat-button type="submit"><img src="../../assets/img/musica-searcher.png" alt="icon"></button>
  </form>
  <button mat-button type="button" (click)="showDelAllWindow()">Delete all tasks</button>
</div>

<span class="message" *ngIf="taskListHidden">Task list is clear</span>

<div calss="main-component-list" *ngIf="!taskListHidden">

  <ul>
    <li *ngFor="let task of tasksArray; let i = index" class="itemTask">
      <span class="date" [class.done]="this.tasksArray[i].done">{{task.date}}</span>
      <span class="priority" [class.done]="this.tasksArray[i].done">{{task.priority}}</span>
      <div class="change-priority">
        <button type="button" class="switch" [class.done]="this.tasksArray[i].done" (click)="changePriorityUp(i)">
          &#9650;
        </button>
        <button type="button" class="switch" [class.done]="this.tasksArray[i].done" (click)="changePriorityDown(i)">
          &#9660;
        </button>
      </div>
      <p class="item-text" [class.doneTextField]="this.tasksArray[i].done">{{task.value}}</p>
      <button mat-button type="button" [class.done]="this.tasksArray[i].done" (click)="showChangeWindow(i)"><img
        src="../../assets/img/pencil-edit-button.png" alt="icon"></button>
      <button mat-button type="button" [class.done]="this.tasksArray[i].done" (click)="doneTask(i)"><img
        src="../../assets/img/checked.png" alt="icon"></button>
      <button mat-button type="button" [class.done]="this.tasksArray[i].done" (click)="showDelWindow(i)"><img
        src="../../assets/img/delete.png" alt="icon"></button>
    </li>
  </ul>
  <div class="changer-window" *ngIf="changerWindow">
    <h3>Change task</h3>
    <textarea rows="4" cols="28" [(ngModel)]="changeFieldValue"></textarea>
    <div class="wrapper-for-window-button">
      <button mat-button type="button" (click)="changeTask(i)">Submit changes</button>
      <button mat-button type="button" (click)="hideWwindow()">Cancel</button>
    </div>
  </div>
  <div class="del-window" *ngIf="delWindow">
    <h3>Delete task?</h3>
    <div class="wrapper-for-window-button">
      <button mat-button type="button" (click)="removeTask(i)">Delete</button>
      <button mat-button type="button" (click)="hideWwindow()">Cancel</button>
    </div>
  </div>
  <div class="del-window" *ngIf="delAllWindow">
    <h3>Do you want to delete ALL tasks?</h3>
    <div class="wrapper-for-window-button">
      <button mat-button type="button" (click)="delAllTasks()">Delete</button>
      <button mat-button type="button" (click)="hideWwindow()">Cancel</button>
    </div>
  </div>

</div>
</div>
